.EntryForm {
  height: 500px;
  max-height: 100%;
  width: 450px;
  max-width: 90vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 13vh;
}

.Message {
  font-weight: 600;
  margin: 5px 0;
  color: var(--logoYellow);
  text-align: center;
}
