* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --logoRed: #e44735;
  --logoGreen: #1ba145;
  --logoYellow: #f4c113;
  --logoBlue: #1d89f3;
}

body {
  overflow: hidden;
}
